/* Academics.css */
.academics-container {
    margin-top: 20px;
  }
  
  .academics-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .academics-subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .academics-table {
    margin-bottom: 20px;
  }
  